# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file
version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "saturday"
    commit-message:
      prefix: "chore"
    groups:
      commitlint:
        patterns:
          - "@commitlint/*"
    pouchdb:
      patterns:
        - "pouchdb-*"
    ignore:
      - dependency-name: "chai" # ESM Modules https://github.com/medic/cht-conf/issues/629
      - dependency-name: "chai-as-promised" # ESM Modules https://github.com/medic/cht-conf/issues/629
      - dependency-name: "chai-exclude" # ESM Modules https://github.com/medic/cht-conf/issues/629
      - dependency-name: "open" # ESM Modules https://github.com/medic/cht-conf/issues/629
