{
  "parserOptions": {
    "ecmaVersion": 5
  },
  "rules": {
    "no-console": "off",
    "no-debugger": "off"
  },
  "globals": {
    "c": true,
    "emit": true,
    "r": true,
    "Task": true,
    "Target": true,
    "user": true,
    "Utils": true
  }
}
