{
  "parserOptions": {
    "ecmaVersion": 5
  },
  "rules": {
    "no-console": "off",
    "no-debugger": "off"
  },
  "globals": {
    "cards": true,
    "contact": true,
    "contactSummary": true,
    "context": true,
    "extras": true,
    "fields": true,
    "lineage": true,
    "reports": true
  }
}
