name: Build CHT Conf and test against node versions

on: [push, pull_request]

jobs:
  build:
    name: Build for Node version ${{ matrix.node-version }}
    runs-on: ubuntu-20.04 # 22.04 does not support Python 2.x

    strategy:
      matrix:
        node-version: [8.x, 10.x, 12.x, 14.x, 16.x]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - name: Setting up python 2.X
      uses: actions/setup-python@v4
      with:
        python-version: '2.x'
        architecture: 'x64'
    - name: Install wheel
      run: pip install wheel
    - name: Install pyxform
      run: pip install git+https://github.com/medic/pyxform.git@medic-conf-1.17#egg=pyxform-medic
    - name: npm ci and test
      run: npm ci && npm test
    - name: Archive Results
      uses: actions/upload-artifact@v2
      with:
        name: Coverage Report ${{ matrix.node-version }}
        path: |
          coverage
          .nyc_output
      if: ${{ failure() }}
